### Spark notebook ###

This notebook will only work in a Jupyter session running on `mathmadslinux2p`.

You can start your own Jupyter session on `mathmadslinux2p` and open this notebook in Chrome on the MADS Windows server by

**Steps**

1. Login to the MADS Windows server using https://mathportal.canterbury.ac.nz/.
2. Download or copy this notebook to your home directory.
3. Open powershell and run `ssh mathmadslinux2p`.
4. Run `start_pyspark_notebook` or `/opt/anaconda3/bin/jupyter-notebook --ip 132.181.129.68 --port $((8000 + $((RANDOM % 999))))`.
5. Copy / paste the url provided in the shell window into Chrome on the MADS Windows server.
6. Open the notebook from the Jupyter root directory (which is your home directory).
7. Run `start_spark()` to start a spark session in the notebook.
8. Run `stop_spark()` before closing the notebook or kill your spark application by hand using the link in the Spark UI.

In [1]:
# Run this cell to import pyspark and to define start_spark() and stop_spark()

import findspark

findspark.init()

import getpass
import pandas
import pyspark
import random
import re

from IPython.display import display, HTML
from pyspark import SparkContext
from pyspark.sql import SparkSession


# Functions used below

def username():
    """Get username with any domain information removed.
    """

    return re.sub('@.*', '', getpass.getuser())


def dict_to_html(d):
    """Convert a Python dictionary into a two column table for display.
    """

    html = []

    html.append(f'<table width="100%" style="width:100%; font-family: monospace;">')
    for k, v in d.items():
        html.append(f'<tr><td style="text-align:left;">{k}</td><td>{v}</td></tr>')
    html.append(f'</table>')

    return ''.join(html)


def show_as_html(df, n=20):
    """Leverage existing pandas jupyter integration to show a spark dataframe as html.
    
    Args:
        n (int): number of rows to show (default: 20)
    """

    display(df.limit(n).toPandas())

    
def display_spark():
    """Display the status of the active Spark session if one is currently running.
    """
    
    if 'spark' in globals() and 'sc' in globals():

        name = sc.getConf().get("spark.app.name")
        
        html = [
            f'<p><b>Spark</b></p>',
            f'<p>The spark session is <b><span style="color:green">active</span></b>, look for <code>{name}</code> under the running applications section in the Spark UI.</p>',
            f'<ul>',
            f'<li><a href="http://mathmadslinux2p.canterbury.ac.nz:8080/" target="_blank">Spark UI</a></li>',
            f'<li><a href="{sc.uiWebUrl}" target="_blank">Spark Application UI</a></li>',
            f'</ul>',
            f'<p><b>Config</b></p>',
            dict_to_html(dict(sc.getConf().getAll())),
            f'<p><b>Notes</b></p>',
            f'<ul>',
            f'<li>The spark session <code>spark</code> and spark context <code>sc</code> global variables have been defined by <code>start_spark()</code>.</li>',
            f'<li>Please run <code>stop_spark()</code> before closing the notebook or restarting the kernel or kill <code>{name}</code> by hand using the link in the Spark UI.</li>',
            f'</ul>',
        ]
        display(HTML(''.join(html)))
        
    else:
        
        html = [
            f'<p><b>Spark</b></p>',
            f'<p>The spark session is <b><span style="color:red">stopped</span></b>, confirm that <code>{username() + " (jupyter)"}</code> is under the completed applications section in the Spark UI.</p>',
            f'<ul>',
            f'<li><a href="http://mathmadslinux2p.canterbury.ac.nz:8080/" target="_blank">Spark UI</a></li>',
            f'</ul>',
        ]
        display(HTML(''.join(html)))


# Functions to start and stop spark

def start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1):
    """Start a new Spark session and define globals for SparkSession (spark) and SparkContext (sc).
    
    Args:
        executor_instances (int): number of executors (default: 2)
        executor_cores (int): number of cores per executor (default: 1)
        worker_memory (float): worker memory (default: 1)
        master_memory (float): master memory (default: 1)
    """

    global spark
    global sc

    user = username()
    
    cores = executor_instances * executor_cores
    partitions = cores * 4
    port = 4000 + random.randint(1, 999)

    spark = (
        SparkSession.builder
        .master("spark://masternode2:7077")
        .config("spark.driver.extraJavaOptions", f"-Dderby.system.home=/tmp/{user}/spark/")
        .config("spark.dynamicAllocation.enabled", "false")
        .config("spark.executor.instances", str(executor_instances))
        .config("spark.executor.cores", str(executor_cores))
        .config("spark.cores.max", str(cores))
        .config("spark.executor.memory", f"{worker_memory}g")
        .config("spark.driver.memory", f"{master_memory}g")
        .config("spark.driver.maxResultSize", "0")
        .config("spark.sql.shuffle.partitions", str(partitions))
        .config("spark.ui.port", str(port))
        .appName(user + " (jupyter)")
        .getOrCreate()
    )
    sc = SparkContext.getOrCreate()
    
    display_spark()

    
def stop_spark():
    """Stop the active Spark session and delete globals for SparkSession (spark) and SparkContext (sc).
    """

    global spark
    global sc

    if 'spark' in globals() and 'sc' in globals():

        spark.stop()

        del spark
        del sc

    display_spark()


# Make css changes to improve spark output readability

html = [
    '<style>',
    'pre { white-space: pre !important; }',
    'table.dataframe td { white-space: nowrap !important; }',
    'table.dataframe thead th:first-child, table.dataframe tbody th { display: none; }',
    '</style>',
]
display(HTML(''.join(html)))

### Example notebook ###

The code below provides a template for how you would use a notebook to start spark, run some code, and then stop spark.

**Steps**

- Run `start_spark()` to start a spark session in the notebook (only change the default resources when advised to do so for an exercise or assignment)
- Write and run code interactively, creating additional cells as needed.
- Run `stop_spark()` before closing the notebook or kill your spark application by hand using the link in the [Spark UI](http://mathmadslinux2p.canterbury.ac.nz:8080/).

In [2]:
# Run this cell to start a spark session in this notebook

start_spark(executor_instances=2, executor_cores=1, worker_memory=1, master_memory=1)

In [3]:
# Write your imports here or insert cells below

from pyspark.sql import functions as F
from pyspark.sql.types import *

### Question 1

In [4]:
!hdfs dfs -ls /data/ghcnd/

Found 5 items
drwxr-xr-x   - jsw93 supergroup          0 2024-03-19 00:11 /data/ghcnd/daily
-rwxr-xr-x   8 jsw93 supergroup       3659 2024-03-11 00:45 /data/ghcnd/ghcnd-countries.txt
-rwxr-xr-x   8 jsw93 supergroup   34380032 2024-03-11 00:39 /data/ghcnd/ghcnd-inventory.txt
-rwxr-xr-x   8 jsw93 supergroup       1086 2024-03-11 00:45 /data/ghcnd/ghcnd-states.txt
-rwxr-xr-x   8 jsw93 supergroup   10834968 2024-03-11 00:39 /data/ghcnd/ghcnd-stations.txt

In [5]:
!hdfs dfs -ls /data/ghcnd/daily/

Found 263 items
-rw-r--r--   8 jsw93 supergroup     517706 2024-03-18 23:56 /data/ghcnd/daily/1750.csv.gz
-rw-r--r--   8 jsw93 supergroup       3358 2024-03-18 23:57 /data/ghcnd/daily/1763.csv.gz
-rw-r--r--   8 jsw93 supergroup       3327 2024-03-18 23:54 /data/ghcnd/daily/1764.csv.gz
-rw-r--r--   8 jsw93 supergroup       3335 2024-03-18 23:54 /data/ghcnd/daily/1765.csv.gz
-rw-r--r--   8 jsw93 supergroup       3344 2024-03-18 23:49 /data/ghcnd/daily/1766.csv.gz
-rw-r--r--   8 jsw93 supergroup       3356 2024-03-18 23:56 /data/ghcnd/daily/1767.csv.gz
-rw-r--r--   8 jsw93 supergroup       3325 2024-03-18 23:53 /data/ghcnd/daily/1768.csv.gz
-rw-r--r--   8 jsw93 supergroup       3418 2024-03-18 23:54 /data/ghcnd/daily/1769.csv.gz
-rw-r--r--   8 jsw93 supergroup       3357 2024-03-18 23:56 /data/ghcnd/daily/1770.csv.gz
-rw-r--r--   8 jsw93 supergroup       3373 2024-03-18 23:56 /data/ghcnd/daily/1771.csv.gz
-rw-r--r--   8 jsw93 supergroup       3419 2024-03-18 23:55 /data/ghcnd/daily/1772.csv.gz
-rw-r--r--   8 jsw93 supergroup       3368 2024-03-18 23:57 /data/ghcnd/daily/1773.csv.gz
-rw-r--r--   8 jsw93 supergroup       3393 2024-03-18 23:54 /data/ghcnd/daily/1774.csv.gz
-rw-r--r--   8 jsw93 supergroup       6365 2024-03-18 23:51 /data/ghcnd/daily/1775.csv.gz
-rw-r--r--   8 jsw93 supergroup       6425 2024-03-18 23:56 /data/ghcnd/daily/1776.csv.gz
-rw-r--r--   8 jsw93 supergroup       6424 2024-03-18 23:56 /data/ghcnd/daily/1777.csv.gz
-rw-r--r--   8 jsw93 supergroup       6240 2024-03-18 23:50 /data/ghcnd/daily/1778.csv.gz
-rw-r--r--   8 jsw93 supergroup       6144 2024-03-18 23:54 /data/ghcnd/daily/1779.csv.gz
-rw-r--r--   8 jsw93 supergroup       6245 2024-03-18 23:50 /data/ghcnd/daily/1780.csv.gz
-rw-r--r--   8 jsw93 supergroup       7799 2024-03-18 23:52 /data/ghcnd/daily/1781.csv.gz
-rw-r--r--   8 jsw93 supergroup       7808 2024-03-18 23:52 /data/ghcnd/daily/1782.csv.gz
-rw-r--r--   8 jsw93 supergroup       7920 2024-03-18 23:56 /data/ghcnd/daily/1783.csv.gz
-rw-r--r--   8 jsw93 supergroup       7946 2024-03-18 23:52 /data/ghcnd/daily/1784.csv.gz
-rw-r--r--   8 jsw93 supergroup       7804 2024-03-18 23:56 /data/ghcnd/daily/1785.csv.gz
-rw-r--r--   8 jsw93 supergroup       7891 2024-03-18 23:51 /data/ghcnd/daily/1786.csv.gz
-rw-r--r--   8 jsw93 supergroup       6336 2024-03-18 23:53 /data/ghcnd/daily/1787.csv.gz
-rw-r--r--   8 jsw93 supergroup       6394 2024-03-18 23:54 /data/ghcnd/daily/1788.csv.gz
-rw-r--r--   8 jsw93 supergroup       7773 2024-03-18 23:56 /data/ghcnd/daily/1789.csv.gz
-rw-r--r--   8 jsw93 supergroup       7786 2024-03-18 23:53 /data/ghcnd/daily/1790.csv.gz
-rw-r--r--   8 jsw93 supergroup       7734 2024-03-18 23:52 /data/ghcnd/daily/1791.csv.gz
-rw-r--r--   8 jsw93 supergroup       7806 2024-03-18 23:52 /data/ghcnd/daily/1792.csv.gz
-rw-r--r--   8 jsw93 supergroup       6342 2024-03-18 23:54 /data/ghcnd/daily/1793.csv.gz
-rw-r--r--   8 jsw93 supergroup       7770 2024-03-18 23:50 /data/ghcnd/daily/1794.csv.gz
-rw-r--r--   8 jsw93 supergroup       7843 2024-03-18 23:55 /data/ghcnd/daily/1795.csv.gz
-rw-r--r--   8 jsw93 supergroup       7821 2024-03-18 23:50 /data/ghcnd/daily/1796.csv.gz
-rw-r--r--   8 jsw93 supergroup       9239 2024-03-18 23:50 /data/ghcnd/daily/1797.csv.gz
-rw-r--r--   8 jsw93 supergroup       9290 2024-03-18 23:50 /data/ghcnd/daily/1798.csv.gz
-rw-r--r--   8 jsw93 supergroup       6351 2024-03-18 23:50 /data/ghcnd/daily/1799.csv.gz
-rw-r--r--   8 jsw93 supergroup       7783 2024-03-18 23:51 /data/ghcnd/daily/1800.csv.gz
-rw-r--r--   8 jsw93 supergroup       7801 2024-03-18 23:50 /data/ghcnd/daily/1801.csv.gz
-rw-r--r--   8 jsw93 supergroup       9195 2024-03-18 23:56 /data/ghcnd/daily/1802.csv.gz
-rw-r--r--   8 jsw93 supergroup       7892 2024-03-18 23:54 /data/ghcnd/daily/1803.csv.gz
-rw-r--r--   8 jsw93 supergroup       8727 2024-03-18 23:53 /data/ghcnd/daily/1804.csv.gz
-rw-r--r--   8 jsw93 supergroup       8901 2024-03-18 23:57 /data/ghcnd/daily/1805.csv.gz
-rw-r--r--   8 jsw93 supergroup       8598 2024-03-18 23:52 /data/ghcnd/daily/1806.csv.gz
-rw-r--r--   8 jsw93 supergroup       8725 2024-03-18 23:53 /data/ghcnd/daily/1807.csv.gz
-rw-r--r--   8 jsw93 supergroup       8928 2024-03-18 23:50 /data/ghcnd/daily/1808.csv.gz
-rw-r--r--   8 jsw93 supergroup       8778 2024-03-18 23:51 /data/ghcnd/daily/1809.csv.gz
-rw-r--r--   8 jsw93 supergroup       8829 2024-03-18 23:52 /data/ghcnd/daily/1810.csv.gz
-rw-r--r--   8 jsw93 supergroup       8932 2024-03-18 23:54 /data/ghcnd/daily/1811.csv.gz
-rw-r--r--   8 jsw93 supergroup       8993 2024-03-18 23:56 /data/ghcnd/daily/1812.csv.gz
-rw-r--r--   8 jsw93 supergroup       9264 2024-03-18 23:50 /data/ghcnd/daily/1813.csv.gz
-rw-r--r--   8 jsw93 supergroup      10833 2024-03-18 23:56 /data/ghcnd/daily/1814.csv.gz
-rw-r--r--   8 jsw93 supergroup      13884 2024-03-18 23:51 /data/ghcnd/daily/1815.csv.gz
-rw-r--r--   8 jsw93 supergroup      13865 2024-03-18 23:56 /data/ghcnd/daily/1816.csv.gz
-rw-r--r--   8 jsw93 supergroup      13758 2024-03-18 23:53 /data/ghcnd/daily/1817.csv.gz
-rw-r--r--   8 jsw93 supergroup      13758 2024-03-18 23:50 /data/ghcnd/daily/1818.csv.gz
-rw-r--r--   8 jsw93 supergroup      13690 2024-03-18 23:57 /data/ghcnd/daily/1819.csv.gz
-rw-r--r--   8 jsw93 supergroup      13997 2024-03-18 23:49 /data/ghcnd/daily/1820.csv.gz
-rw-r--r--   8 jsw93 supergroup      13792 2024-03-18 23:54 /data/ghcnd/daily/1821.csv.gz
-rw-r--r--   8 jsw93 supergroup      14049 2024-03-18 23:53 /data/ghcnd/daily/1822.csv.gz
-rw-r--r--   8 jsw93 supergroup      14745 2024-03-18 23:50 /data/ghcnd/daily/1823.csv.gz
-rw-r--r--   8 jsw93 supergroup      18035 2024-03-18 23:50 /data/ghcnd/daily/1824.csv.gz
-rw-r--r--   8 jsw93 supergroup      18101 2024-03-18 23:50 /data/ghcnd/daily/1825.csv.gz
-rw-r--r--   8 jsw93 supergroup      18403 2024-03-18 23:54 /data/ghcnd/daily/1826.csv.gz
-rw-r--r--   8 jsw93 supergroup      20855 2024-03-18 23:52 /data/ghcnd/daily/1827.csv.gz
-rw-r--r--   8 jsw93 supergroup      20981 2024-03-18 23:50 /data/ghcnd/daily/1828.csv.gz
-rw-r--r--   8 jsw93 supergroup      21141 2024-03-18 23:56 /data/ghcnd/daily/1829.csv.gz
-rw-r--r--   8 jsw93 supergroup      21306 2024-03-18 23:53 /data/ghcnd/daily/1830.csv.gz
-rw-r--r--   8 jsw93 supergroup      21319 2024-03-18 23:52 /data/ghcnd/daily/1831.csv.gz
-rw-r--r--   8 jsw93 supergroup      22435 2024-03-18 23:52 /data/ghcnd/daily/1832.csv.gz
-rw-r--r--   8 jsw93 supergroup      27286 2024-03-18 23:55 /data/ghcnd/daily/1833.csv.gz
-rw-r--r--   8 jsw93 supergroup      27098 2024-03-18 23:50 /data/ghcnd/daily/1834.csv.gz
-rw-r--r--   8 jsw93 supergroup      27516 2024-03-18 23:53 /data/ghcnd/daily/1835.csv.gz
-rw-r--r--   8 jsw93 supergroup      29812 2024-03-18 23:50 /data/ghcnd/daily/1836.csv.gz
-rw-r--r--   8 jsw93 supergroup      29339 2024-03-18 23:53 /data/ghcnd/daily/1837.csv.gz
-rw-r--r--   8 jsw93 supergroup      31700 2024-03-18 23:53 /data/ghcnd/daily/1838.csv.gz
-rw-r--r--   8 jsw93 supergroup      29587 2024-03-18 23:54 /data/ghcnd/daily/1839.csv.gz
-rw-r--r--   8 jsw93 supergroup      35991 2024-03-18 23:50 /data/ghcnd/daily/1840.csv.gz
-rw-r--r--   8 jsw93 supergroup      36990 2024-03-18 23:52 /data/ghcnd/daily/1841.csv.gz
-rw-r--r--   8 jsw93 supergroup      39432 2024-03-18 23:52 /data/ghcnd/daily/1842.csv.gz
-rw-r--r--   8 jsw93 supergroup      39397 2024-03-18 23:50 /data/ghcnd/daily/1843.csv.gz
-rw-r--r--   8 jsw93 supergroup      43316 2024-03-18 23:54 /data/ghcnd/daily/1844.csv.gz
-rw-r--r--   8 jsw93 supergroup      47105 2024-03-18 23:56 /data/ghcnd/daily/1845.csv.gz
-rw-r--r--   8 jsw93 supergroup      44647 2024-03-18 23:54 /data/ghcnd/daily/1846.csv.gz
-rw-r--r--   8 jsw93 supergroup      46181 2024-03-18 23:56 /data/ghcnd/daily/1847.csv.gz
-rw-r--r--   8 jsw93 supergroup      45048 2024-03-18 23:54 /data/ghcnd/daily/1848.csv.gz
-rw-r--r--   8 jsw93 supergroup      47371 2024-03-18 23:50 /data/ghcnd/daily/1849.csv.gz
-rw-r--r--   8 jsw93 supergroup      47552 2024-03-18 23:56 /data/ghcnd/daily/1850.csv.gz
-rw-r--r--   8 jsw93 supergroup      55032 2024-03-18 23:50 /data/ghcnd/daily/1851.csv.gz
-rw-r--r--   8 jsw93 supergroup      58865 2024-03-18 23:53 /data/ghcnd/daily/1852.csv.gz
-rw-r--r--   8 jsw93 supergroup      59631 2024-03-18 23:51 /data/ghcnd/daily/1853.csv.gz
-rw-r--r--   8 jsw93 supergroup      59258 2024-03-18 23:55 /data/ghcnd/daily/1854.csv.gz
-rw-r--r--   8 jsw93 supergroup      64887 2024-03-18 23:53 /data/ghcnd/daily/1855.csv.gz
-rw-r--r--   8 jsw93 supergroup      76292 2024-03-18 23:55 /data/ghcnd/daily/1856.csv.gz
-rw-r--r--   8 jsw93 supergroup      83128 2024-03-18 23:55 /data/ghcnd/daily/1857.csv.gz
-rw-r--r--   8 jsw93 supergroup     115535 2024-03-18 23:50 /data/ghcnd/daily/1858.csv.gz
-rw-r--r--   8 jsw93 supergroup     128727 2024-03-18 23:56 /data/ghcnd/daily/1859.csv.gz
-rw-r--r--   8 jsw93 supergroup     137798 2024-03-18 23:50 /data/ghcnd/daily/1860.csv.gz
-rw-r--r--   8 jsw93 supergroup     143140 2024-03-18 23:50 /data/ghcnd/daily/1861.csv.gz
-rw-r--r--   8 jsw93 supergroup     137811 2024-03-18 23:52 /data/ghcnd/daily/1862.csv.gz
-rw-r--r--   8 jsw93 supergroup     155000 2024-03-18 23:49 /data/ghcnd/daily/1863.csv.gz
-rw-r--r--   8 jsw93 supergroup     159466 2024-03-18 23:54 /data/ghcnd/daily/1864.csv.gz
-rw-r--r--   8 jsw93 supergroup     160531 2024-03-18 23:56 /data/ghcnd/daily/1865.csv.gz
-rw-r--r--   8 jsw93 supergroup     208166 2024-03-18 23:50 /data/ghcnd/daily/1866.csv.gz
-rw-r--r--   8 jsw93 supergroup     249331 2024-03-18 23:54 /data/ghcnd/daily/1867.csv.gz
-rw-r--r--   8 jsw93 supergroup     262203 2024-03-18 23:52 /data/ghcnd/daily/1868.csv.gz
-rw-r--r--   8 jsw93 supergroup     303439 2024-03-18 23:54 /data/ghcnd/daily/1869.csv.gz
-rw-r--r--   8 jsw93 supergroup     348087 2024-03-18 23:51 /data/ghcnd/daily/1870.csv.gz
-rw-r--r--   8 jsw93 supergroup     458274 2024-03-18 23:54 /data/ghcnd/daily/1871.csv.gz
-rw-r--r--   8 jsw93 supergroup     621837 2024-03-18 23:51 /data/ghcnd/daily/1872.csv.gz
-rw-r--r--   8 jsw93 supergroup     695994 2024-03-18 23:50 /data/ghcnd/daily/1873.csv.gz
-rw-r--r--   8 jsw93 supergroup     778728 2024-03-18 23:54 /data/ghcnd/daily/1874.csv.gz
-rw-r--r--   8 jsw93 supergroup     846682 2024-03-18 23:55 /data/ghcnd/daily/1875.csv.gz
-rw-r--r--   8 jsw93 supergroup     917762 2024-03-18 23:56 /data/ghcnd/daily/1876.csv.gz
-rw-r--r--   8 jsw93 supergroup    1023524 2024-03-18 23:55 /data/ghcnd/daily/1877.csv.gz
-rw-r--r--   8 jsw93 supergroup    1216637 2024-03-18 23:52 /data/ghcnd/daily/1878.csv.gz
-rw-r--r--   8 jsw93 supergroup    1395605 2024-03-18 23:56 /data/ghcnd/daily/1879.csv.gz
-rw-r--r--   8 jsw93 supergroup    1757438 2024-03-18 23:55 /data/ghcnd/daily/1880.csv.gz
-rw-r--r--   8 jsw93 supergroup    2092310 2024-03-18 23:53 /data/ghcnd/daily/1881.csv.gz
-rw-r--r--   8 jsw93 supergroup    2383483 2024-03-18 23:50 /data/ghcnd/daily/1882.csv.gz
-rw-r--r--   8 jsw93 supergroup    2632037 2024-03-18 23:53 /data/ghcnd/daily/1883.csv.gz
-rw-r--r--   8 jsw93 supergroup    3148275 2024-03-18 23:55 /data/ghcnd/daily/1884.csv.gz
-rw-r--r--   8 jsw93 supergroup    3573924 2024-03-18 23:55 /data/ghcnd/daily/1885.csv.gz
-rw-r--r--   8 jsw93 supergroup    3917883 2024-03-18 23:55 /data/ghcnd/daily/1886.csv.gz
-rw-r--r--   8 jsw93 supergroup    4408281 2024-03-18 23:53 /data/ghcnd/daily/1887.csv.gz
-rw-r--r--   8 jsw93 supergroup    4747314 2024-03-18 23:51 /data/ghcnd/daily/1888.csv.gz
-rw-r--r--   8 jsw93 supergroup    5151816 2024-03-18 23:53 /data/ghcnd/daily/1889.csv.gz
-rw-r--r--   8 jsw93 supergroup    5617595 2024-03-18 23:51 /data/ghcnd/daily/1890.csv.gz
-rw-r--r--   8 jsw93 supergroup    5887970 2024-03-18 23:53 /data/ghcnd/daily/1891.csv.gz
-rw-r--r--   8 jsw93 supergroup    6794490 2024-03-18 23:57 /data/ghcnd/daily/1892.csv.gz
-rw-r--r--   8 jsw93 supergroup   12518573 2024-03-18 23:50 /data/ghcnd/daily/1893.csv.gz
-rw-r--r--   8 jsw93 supergroup   13382910 2024-03-18 23:53 /data/ghcnd/daily/1894.csv.gz
-rw-r--r--   8 jsw93 supergroup   14453168 2024-03-18 23:56 /data/ghcnd/daily/1895.csv.gz
-rw-r--r--   8 jsw93 supergroup   15584934 2024-03-18 23:54 /data/ghcnd/daily/1896.csv.gz
-rw-r--r--   8 jsw93 supergroup   16834783 2024-03-18 23:57 /data/ghcnd/daily/1897.csv.gz
-rw-r--r--   8 jsw93 supergroup   17568404 2024-03-18 23:51 /data/ghcnd/daily/1898.csv.gz
-rw-r--r--   8 jsw93 supergroup   18261126 2024-03-18 23:52 /data/ghcnd/daily/1899.csv.gz
-rw-r--r--   8 jsw93 supergroup   19509289 2024-03-18 23:52 /data/ghcnd/daily/1900.csv.gz
-rw-r--r--   8 jsw93 supergroup   24809775 2024-03-18 23:55 /data/ghcnd/daily/1901.csv.gz
-rw-r--r--   8 jsw93 supergroup   25742697 2024-03-18 23:52 /data/ghcnd/daily/1902.csv.gz
-rw-r--r--   8 jsw93 supergroup   26279812 2024-03-18 23:53 /data/ghcnd/daily/1903.csv.gz
-rw-r--r--   8 jsw93 supergroup   27132792 2024-03-18 23:57 /data/ghcnd/daily/1904.csv.gz
-rw-r--r--   8 jsw93 supergroup   28542246 2024-03-18 23:53 /data/ghcnd/daily/1905.csv.gz
-rw-r--r--   8 jsw93 supergroup   29171545 2024-03-18 23:56 /data/ghcnd/daily/1906.csv.gz
-rw-r--r--   8 jsw93 supergroup   29898159 2024-03-18 23:51 /data/ghcnd/daily/1907.csv.gz
-rw-r--r--   8 jsw93 supergroup   30598818 2024-03-18 23:53 /data/ghcnd/daily/1908.csv.gz
-rw-r--r--   8 jsw93 supergroup   32222575 2024-03-18 23:50 /data/ghcnd/daily/1909.csv.gz
-rw-r--r--   8 jsw93 supergroup   33303023 2024-03-18 23:50 /data/ghcnd/daily/1910.csv.gz
-rw-r--r--   8 jsw93 supergroup   34509481 2024-03-18 23:55 /data/ghcnd/daily/1911.csv.gz
-rw-r--r--   8 jsw93 supergroup   35809100 2024-03-18 23:50 /data/ghcnd/daily/1912.csv.gz
-rw-r--r--   8 jsw93 supergroup   36755750 2024-03-18 23:52 /data/ghcnd/daily/1913.csv.gz
-rw-r--r--   8 jsw93 supergroup   37941673 2024-03-18 23:53 /data/ghcnd/daily/1914.csv.gz
-rw-r--r--   8 jsw93 supergroup   39102481 2024-03-18 23:50 /data/ghcnd/daily/1915.csv.gz
-rw-r--r--   8 jsw93 supergroup   40434826 2024-03-18 23:51 /data/ghcnd/daily/1916.csv.gz
-rw-r--r--   8 jsw93 supergroup   40654601 2024-03-18 23:56 /data/ghcnd/daily/1917.csv.gz
-rw-r--r--   8 jsw93 supergroup   39716221 2024-03-18 23:50 /data/ghcnd/daily/1918.csv.gz
-rw-r--r--   8 jsw93 supergroup   39253748 2024-03-18 23:54 /data/ghcnd/daily/1919.csv.gz
-rw-r--r--   8 jsw93 supergroup   39491555 2024-03-18 23:53 /data/ghcnd/daily/1920.csv.gz
-rw-r--r--   8 jsw93 supergroup   39748597 2024-03-18 23:52 /data/ghcnd/daily/1921.csv.gz
-rw-r--r--   8 jsw93 supergroup   40470242 2024-03-18 23:54 /data/ghcnd/daily/1922.csv.gz
-rw-r--r--   8 jsw93 supergroup   41210729 2024-03-18 23:54 /data/ghcnd/daily/1923.csv.gz
-rw-r--r--   8 jsw93 supergroup   42037214 2024-03-18 23:54 /data/ghcnd/daily/1924.csv.gz
-rw-r--r--   8 jsw93 supergroup   42303743 2024-03-18 23:51 /data/ghcnd/daily/1925.csv.gz
-rw-r--r--   8 jsw93 supergroup   43495054 2024-03-18 23:54 /data/ghcnd/daily/1926.csv.gz
-rw-r--r--   8 jsw93 supergroup   44262489 2024-03-18 23:51 /data/ghcnd/daily/1927.csv.gz
-rw-r--r--   8 jsw93 supergroup   44787540 2024-03-18 23:57 /data/ghcnd/daily/1928.csv.gz
-rw-r--r--   8 jsw93 supergroup   45743322 2024-03-18 23:56 /data/ghcnd/daily/1929.csv.gz
-rw-r--r--   8 jsw93 supergroup   47123859 2024-03-18 23:55 /data/ghcnd/daily/1930.csv.gz
-rw-r--r--   8 jsw93 supergroup   48687150 2024-03-18 23:49 /data/ghcnd/daily/1931.csv.gz
-rw-r--r--   8 jsw93 supergroup   49739740 2024-03-18 23:56 /data/ghcnd/daily/1932.csv.gz
-rw-r--r--   8 jsw93 supergroup   50189322 2024-03-18 23:55 /data/ghcnd/daily/1933.csv.gz
-rw-r--r--   8 jsw93 supergroup   50510455 2024-03-18 23:55 /data/ghcnd/daily/1934.csv.gz
-rw-r--r--   8 jsw93 supergroup   51471341 2024-03-18 23:53 /data/ghcnd/daily/1935.csv.gz
-rw-r--r--   8 jsw93 supergroup   54583489 2024-03-18 23:56 /data/ghcnd/daily/1936.csv.gz
-rw-r--r--   8 jsw93 supergroup   55923499 2024-03-18 23:54 /data/ghcnd/daily/1937.csv.gz
-rw-r--r--   8 jsw93 supergroup   57040435 2024-03-18 23:56 /data/ghcnd/daily/1938.csv.gz
-rw-r--r--   8 jsw93 supergroup   58779978 2024-03-18 23:52 /data/ghcnd/daily/1939.csv.gz
-rw-r--r--   8 jsw93 supergroup   60992936 2024-03-18 23:52 /data/ghcnd/daily/1940.csv.gz
-rw-r--r--   8 jsw93 supergroup   62866123 2024-03-18 23:51 /data/ghcnd/daily/1941.csv.gz
-rw-r--r--   8 jsw93 supergroup   64942474 2024-03-18 23:53 /data/ghcnd/daily/1942.csv.gz
-rw-r--r--   8 jsw93 supergroup   65746374 2024-03-18 23:51 /data/ghcnd/daily/1943.csv.gz
-rw-r--r--   8 jsw93 supergroup   67455624 2024-03-18 23:53 /data/ghcnd/daily/1944.csv.gz
-rw-r--r--   8 jsw93 supergroup   69898920 2024-03-18 23:53 /data/ghcnd/daily/1945.csv.gz
-rw-r--r--   8 jsw93 supergroup   70349764 2024-03-18 23:53 /data/ghcnd/daily/1946.csv.gz
-rw-r--r--   8 jsw93 supergroup   72082716 2024-03-18 23:49 /data/ghcnd/daily/1947.csv.gz
-rw-r--r--   8 jsw93 supergroup   85869107 2024-03-18 23:52 /data/ghcnd/daily/1948.csv.gz
-rw-r--r--   8 jsw93 supergroup   98267372 2024-03-18 23:55 /data/ghcnd/daily/1949.csv.gz
-rw-r--r--   8 jsw93 supergroup  101262739 2024-03-18 23:51 /data/ghcnd/daily/1950.csv.gz
-rw-r--r--   8 jsw93 supergroup  104444843 2024-03-18 23:56 /data/ghcnd/daily/1951.csv.gz
-rw-r--r--   8 jsw93 supergroup  105807214 2024-03-18 23:51 /data/ghcnd/daily/1952.csv.gz
-rw-r--r--   8 jsw93 supergroup  107267279 2024-03-18 23:54 /data/ghcnd/daily/1953.csv.gz
-rw-r--r--   8 jsw93 supergroup  109267476 2024-03-18 23:56 /data/ghcnd/daily/1954.csv.gz
-rw-r--r--   8 jsw93 supergroup  111595862 2024-03-18 23:55 /data/ghcnd/daily/1955.csv.gz
-rw-r--r--   8 jsw93 supergroup  113748710 2024-03-18 23:54 /data/ghcnd/daily/1956.csv.gz
-rw-r--r--   8 jsw93 supergroup  116373929 2024-03-18 23:52 /data/ghcnd/daily/1957.csv.gz
-rw-r--r--   8 jsw93 supergroup  117509148 2024-03-18 23:52 /data/ghcnd/daily/1958.csv.gz
-rw-r--r--   8 jsw93 supergroup  119859261 2024-03-18 23:55 /data/ghcnd/daily/1959.csv.gz
-rw-r--r--   8 jsw93 supergroup  122199738 2024-03-18 23:56 /data/ghcnd/daily/1960.csv.gz
-rw-r--r--   8 jsw93 supergroup  125966374 2024-03-18 23:55 /data/ghcnd/daily/1961.csv.gz
-rw-r--r--   8 jsw93 supergroup  128645955 2024-03-18 23:53 /data/ghcnd/daily/1962.csv.gz
-rw-r--r--   8 jsw93 supergroup  131584069 2024-03-18 23:52 /data/ghcnd/daily/1963.csv.gz
-rw-r--r--   8 jsw93 supergroup  132547011 2024-03-18 23:50 /data/ghcnd/daily/1964.csv.gz
-rw-r--r--   8 jsw93 supergroup  136836385 2024-03-18 23:57 /data/ghcnd/daily/1965.csv.gz
-rw-r--r--   8 jsw93 supergroup  138634244 2024-03-18 23:55 /data/ghcnd/daily/1966.csv.gz
-rw-r--r--   8 jsw93 supergroup  139951903 2024-03-18 23:54 /data/ghcnd/daily/1967.csv.gz
-rw-r--r--   8 jsw93 supergroup  139530095 2024-03-18 23:53 /data/ghcnd/daily/1968.csv.gz
-rw-r--r--   8 jsw93 supergroup  141299817 2024-03-18 23:53 /data/ghcnd/daily/1969.csv.gz
-rw-r--r--   8 jsw93 supergroup  142164837 2024-03-18 23:52 /data/ghcnd/daily/1970.csv.gz
-rw-r--r--   8 jsw93 supergroup  136910250 2024-03-18 23:51 /data/ghcnd/daily/1971.csv.gz
-rw-r--r--   8 jsw93 supergroup  135990448 2024-03-18 23:51 /data/ghcnd/daily/1972.csv.gz
-rw-r--r--   8 jsw93 supergroup  142450678 2024-03-18 23:54 /data/ghcnd/daily/1973.csv.gz
-rw-r--r--   8 jsw93 supergroup  143636783 2024-03-18 23:50 /data/ghcnd/daily/1974.csv.gz
-rw-r--r--   8 jsw93 supergroup  143102873 2024-03-18 23:56 /data/ghcnd/daily/1975.csv.gz
-rw-r--r--   8 jsw93 supergroup  142891678 2024-03-18 23:52 /data/ghcnd/daily/1976.csv.gz
-rw-r--r--   8 jsw93 supergroup  142698032 2024-03-18 23:54 /data/ghcnd/daily/1977.csv.gz
-rw-r--r--   8 jsw93 supergroup  142869734 2024-03-18 23:56 /data/ghcnd/daily/1978.csv.gz
-rw-r--r--   8 jsw93 supergroup  143163083 2024-03-18 23:55 /data/ghcnd/daily/1979.csv.gz
-rw-r--r--   8 jsw93 supergroup  143517737 2024-03-18 23:50 /data/ghcnd/daily/1980.csv.gz
-rw-r--r--   8 jsw93 supergroup  146423479 2024-03-18 23:50 /data/ghcnd/daily/1981.csv.gz
-rw-r--r--   8 jsw93 supergroup  148197772 2024-03-18 23:50 /data/ghcnd/daily/1982.csv.gz
-rw-r--r--   8 jsw93 supergroup  149562411 2024-03-18 23:57 /data/ghcnd/daily/1983.csv.gz

In [6]:
!hdfs dfs -count /data/ghcnd/

           2          267        13324160113 /data/ghcnd

In [7]:
!hdfs dfs -count /data/ghcnd/daily/

           1          263        13278940368 /data/ghcnd/daily

In [4]:
# for exploring 1750 data - why is it much larger than the other files? 

schema_daily = StructType([
    StructField("station_id", StringType(), True),
    StructField("date", IntegerType(), True),
    StructField("element", StringType(), True),
    StructField("value", IntegerType(), True),
    StructField("m_flag", StringType(), True),
    StructField("q_flag", StringType(), True),
    StructField("s_flag", StringType(), True),
    StructField("time", StringType(), True)
])

daily_1750 = (
    spark.read.format("com.databricks.spark.csv")
    .option("header", "false")
    .option("inferSchema", "false")
    .schema(schema_daily)
    .load("hdfs:///data/ghcnd/daily/1750.csv.gz")
)
    
show_as_html(daily_1750, 10)

    station_id      date element  value m_flag q_flag s_flag  time
0  ASN00002061  17500201    PRCP     56   None   None      a  None
1  ASN00003014  17500201    PRCP      0   None   None      a  None
2  ASN00003059  17500201    PRCP      0   None   None      a  None
3  ASN00003088  17500201    PRCP      0   None   None      a  None
4  ASN00007001  17500201    PRCP      0   None   None      a  None
5  ASN00009015  17500201    PRCP      0   None   None      a  None
6  ASN00009193  17500201    TMIN    187   None   None      a  None
7  ASN00009193  17500201    PRCP      0   None   None      a  None
8  ASN00009500  17500201    DATX      2   None   None      a  None
9  ASN00009500  17500201    MDTX    210   None   None      a  None

In [39]:
print(daily_1750.count())

#print(daily_1750.groupBy(F.col("date")).count().count()) # number of dates included

daily_1750.groupBy(F.col("date")).count().orderBy(F.asc("date")).show(66) 

print(daily_1750.select("station_id").distinct().count())

# it is only 1750 data going by the date column. But could this be incorrect? It is only Feb-April

126775
+--------+-----+
|    date|count|
+--------+-----+
|17500201|  262|
|17500202|  283|
|17500203|  225|
|17500204|  232|
|17500205|  237|
|17500206|  200|
|17500207|  262|
|17500208|  372|
|17500209|  231|
|17500210|  202|
|17500211|  194|
|17500212|  192|
|17500213|  206|
|17500214|  220|
|17500215|  271|
|17500216|  185|
|17500217|  177|
|17500218|  182|
|17500219|  135|
|17500220|  129|
|17500221|  142|
|17500222|  136|
|17500223|  121|
|17500224|  113|
|17500225|   81|
|17500226|  135|
|17500227|   50|
|17500228|  121|
|17500301| 3466|
|17500302| 3442|
|17500303| 3392|
|17500304| 3428|
|17500305| 3532|
|17500306| 3442|
|17500307| 3446|
|17500308| 3433|
|17500309| 3419|
|17500310| 3418|
|17500311| 3438|
|17500312| 3500|
|17500313| 3436|
|17500314| 3421|
|17500315| 3374|
|17500316| 3364|
|17500317| 3326|
|17500318| 3343|
|17500319| 3450|
|17500320| 3347|
|17500321| 3350|
|17500322| 3327|
|17500323| 3299|
|17500324| 3213|
|17500325| 3266|
|17500326| 3375|
|17500327| 3213|
|17500328| 3212|
|17500329| 3177|
|17500401| 2898|
|17500402| 2831|
|17500403| 2827|
|17500404| 2849|
|17500405| 2721|
|17500406| 2633|
|17500407| 2553|
|17500408| 2480|
|17500409| 1838|
+--------+-----+

2622

In [12]:
# could they be duplicates? Group by all vars and see if there is more than one. 

duplicates = (
    daily_1750.groupBy("station_id", "date", "element", "value", "m_flag", "q_flag", "s_flag", "time")
    .agg(F.count("*").alias("count"))
    .filter(F.col("count") > 1)
)

In [13]:
# none
duplicates.show()

+----------+----+-------+-----+------+------+------+----+-----+
|station_id|date|element|value|m_flag|q_flag|s_flag|time|count|
+----------+----+-------+-----+------+------+------+----+-----+
+----------+----+-------+-----+------+------+------+----+-----+

In [35]:
# compare to 1763

daily_1763 = (
    spark.read.format("com.databricks.spark.csv")
    .option("header", "false")
    .option("inferSchema", "false")
    .schema(schema_daily)
    .load("hdfs:///data/ghcnd/daily/1763.csv.gz")
)

show_as_html(daily_1763, 10)

    station_id      date element  value m_flag q_flag s_flag  time
0  ITE00100554  17630101    TMAX    -36   None   None      E  None
1  ITE00100554  17630101    TMIN    -50   None   None      E  None
2  ITE00100554  17630102    TMAX    -26   None   None      E  None
3  ITE00100554  17630102    TMIN    -40   None   None      E  None
4  ITE00100554  17630103    TMAX     -9   None   None      E  None
5  ITE00100554  17630103    TMIN    -29   None   None      E  None
6  ITE00100554  17630104    TMAX     -4   None   None      E  None
7  ITE00100554  17630104    TMIN    -24   None   None      E  None
8  ITE00100554  17630105    TMAX     21   None   None      E  None
9  ITE00100554  17630105    TMIN      1   None   None      E  None

In [41]:
print(daily_1763.count())

print(daily_1763.select("station_id").distinct().count())

730
1

In [42]:
# compare to 1773

daily_1773 = (
    spark.read.format("com.databricks.spark.csv")
    .option("header", "false")
    .option("inferSchema", "false")
    .schema(schema_daily)
    .load("hdfs:///data/ghcnd/daily/1773.csv.gz")
)

show_as_html(daily_1773, 10)

    station_id      date element  value m_flag q_flag s_flag  time
0  ITE00100554  17730101    TMAX     56   None   None      E  None
1  ITE00100554  17730101    TMIN     36   None   None      E  None
2  ITE00100554  17730102    TMAX     40   None   None      E  None
3  ITE00100554  17730102    TMIN     16   None   None      E  None
4  ITE00100554  17730103    TMAX     37   None   None      E  None
5  ITE00100554  17730103    TMIN     23   None   None      E  None
6  ITE00100554  17730104    TMAX     18   None   None      E  None
7  ITE00100554  17730104    TMIN     -2   None   None      E  None
8  ITE00100554  17730105    TMAX     18   None   None      E  None
9  ITE00100554  17730105    TMIN      4   None   None      E  None

In [43]:
print(daily_1773.count())

print(daily_1773.select("station_id").distinct().count())

730
1

In [44]:
# compare to 1768

daily_1768 = (
    spark.read.format("com.databricks.spark.csv")
    .option("header", "false")
    .option("inferSchema", "false")
    .schema(schema_daily)
    .load("hdfs:///data/ghcnd/daily/1768.csv.gz")
)

show_as_html(daily_1768, 10)

    station_id      date element  value m_flag q_flag s_flag  time
0  ITE00100554  17680101    TMAX    -33   None      I      E  None
1  ITE00100554  17680101    TMIN    -57   None   None      E  None
2  ITE00100554  17680102    TMAX     -1   None   None      E  None
3  ITE00100554  17680102    TMIN    -15   None   None      E  None
4  ITE00100554  17680103    TMAX    -18   None   None      E  None
5  ITE00100554  17680103    TMIN    -32   None   None      E  None
6  ITE00100554  17680104    TMAX     -8   None   None      E  None
7  ITE00100554  17680104    TMIN    -38   None   None      E  None
8  ITE00100554  17680105    TMAX    -46   None   None      E  None
9  ITE00100554  17680105    TMIN    -76   None   None      E  None

In [45]:
print(daily_1768.count())

print(daily_1768.select("station_id").distinct().count())

732
1

### Question 2

In [8]:
# load 1000 rows of daily 

schema_daily = StructType([
    StructField("station_id", StringType(), True),
    StructField("date", StringType(), True),
    StructField("element", StringType(), True),
    StructField("value", IntegerType(), True),
    StructField("m_flag", StringType(), True),
    StructField("q_flag", StringType(), True),
    StructField("s_flag", StringType(), True),
    StructField("time", StringType(), True)
])

daily = (
    spark.read.format("com.databricks.spark.csv")
    .option("header", "false")
    .option("inferSchema", "false")
    .schema(schema_daily)
    .load("hdfs:///data/ghcnd/daily/2023.csv.gz")
    .limit(1000))

daily.show(10)

+-----------+--------+-------+-----+------+------+------+----+
| station_id|    date|element|value|m_flag|q_flag|s_flag|time|
+-----------+--------+-------+-----+------+------+------+----+
|AE000041196|20230101|   TMAX|  252|  null|  null|     S|null|
|AE000041196|20230101|   TMIN|  149|  null|  null|     S|null|
|AE000041196|20230101|   PRCP|    0|     D|  null|     S|null|
|AE000041196|20230101|   TAVG|  207|     H|  null|     S|null|
|AEM00041194|20230101|   TMAX|  255|  null|  null|     S|null|
|AEM00041194|20230101|   TMIN|  186|  null|  null|     S|null|
|AEM00041194|20230101|   PRCP|    0|  null|  null|     S|null|
|AEM00041194|20230101|   TAVG|  223|     H|  null|     S|null|
|AEM00041217|20230101|   TMAX|  248|  null|  null|     S|null|
|AEM00041217|20230101|   TMIN|  184|  null|  null|     S|null|
+-----------+--------+-------+-----+------+------+------+----+
only showing top 10 rows

In [9]:
# Read the first 10 lines from the CSV file to check my extraction was correct above given nulls
spark.sparkContext.textFile("hdfs:///data/ghcnd/daily/2023.csv.gz").take(20)

['AE000041196,20230101,TMAX,252,,,S,',
 'AE000041196,20230101,TMIN,149,,,S,',
 'AE000041196,20230101,PRCP,0,D,,S,',
 'AE000041196,20230101,TAVG,207,H,,S,',
 'AEM00041194,20230101,TMAX,255,,,S,',
 'AEM00041194,20230101,TMIN,186,,,S,',
 'AEM00041194,20230101,PRCP,0,,,S,',
 'AEM00041194,20230101,TAVG,223,H,,S,',
 'AEM00041217,20230101,TMAX,248,,,S,',
 'AEM00041217,20230101,TMIN,184,,,S,',
 'AEM00041217,20230101,TAVG,215,H,,S,',
 'AEM00041218,20230101,TMAX,254,,,S,',
 'AEM00041218,20230101,TMIN,145,,,S,',
 'AEM00041218,20230101,TAVG,193,H,,S,',
 'AG000060390,20230101,TMIN,47,,,S,',
 'AG000060390,20230101,TAVG,128,H,,S,',
 'AG000060590,20230101,TAVG,134,H,,S,',
 'AG000060611,20230101,TMIN,24,,,S,',
 'AG000060611,20230101,TAVG,104,H,,S,',
 'AGE00147708,20230101,TMIN,96,,,S,']

In [10]:
# see how many values in columns with null
daily.groupBy("q_flag").count().orderBy(F.desc("count")).show() # "Blank = did not fail any quality assurance check"
daily.groupBy("time").count().orderBy(F.desc("count")).show()

+------+-----+
|q_flag|count|
+------+-----+
|  null| 1000|
+------+-----+

+----+-----+
|time|count|
+----+-----+
|null|  996|
|2400|    3|
|1000|    1|
+----+-----+

In [11]:
!hadoop fs -cat hdfs:///data/ghcnd/ghcnd-stations.txt | head -n 10 # view first 10 rows

ACW00011604  17.1167  -61.7833   10.1    ST JOHNS COOLIDGE FLD
ACW00011647  17.1333  -61.7833   19.2    ST JOHNS
AE000041196  25.3330   55.5170   34.0    SHARJAH INTER. AIRP            GSN     41196
AEM00041194  25.2550   55.3640   10.4    DUBAI INTL                             41194
AEM00041217  24.4330   54.6510   26.8    ABU DHABI INTL                         41217
AEM00041218  24.2620   55.6090  264.9    AL AIN INTL                            41218
AF000040930  35.3170   69.0170 3366.0    NORTH-SALANG                   GSN     40930
AFM00040938  34.2100   62.2280  977.2    HERAT                                  40938
AFM00040948  34.5660   69.2120 1791.3    KABUL INTL                             40948
AFM00040990  31.5000   65.8500 1010.0    KANDAHAR AIRPORT                       40990
cat: Unable to write to output stream.

In [4]:
# load stations metatable which has fixed-width formatting (as do all the metadata tables)

stations = (
    spark.read.text("hdfs:///data/ghcnd/ghcnd-stations.txt")
)
    
stations = stations.select(
    stations.value.substr(1, 11).alias("station_id"),   # station id
    stations.value.substr(13, 8).alias("latitude"),     # latitude
    stations.value.substr(22, 9).alias("longitude"),    # longitude
    stations.value.substr(32, 6).alias("elevation"),    # elevation
    stations.value.substr(39, 2).alias("state"),        # state
    stations.value.substr(42, 30).alias("name"),        # name
    stations.value.substr(73, 3).alias("gsn_flag"),     # GSN flag
    stations.value.substr(77, 3).alias("hcn_crn_flag"),# HCN/CRN flag
    stations.value.substr(81, 5).alias("wmo_id")       # WMO id    
)

# chage data tyes where necessary
stations = stations.select(
    F.col("station_id").cast("string"),
    F.col("latitude").cast("float"),
    F.col("longitude").cast("float"),
    F.col("elevation").cast("float"),
    F.col("state").cast("string"),
    F.col("name").cast("string"),
    F.col("gsn_flag").cast("string"),
    F.col("hcn_crn_flag").cast("string"),
    F.col("wmo_id").cast("integer")
)

show_as_html(stations, 100)

,station_id,latitude,longitude,elevation,state,name,gsn_flag,hcn_crn_flag,wmo_id
0,ACW00011604,17.116699,-61.783298,10.100000,,ST JOHNS COOLIDGE FLD,,,NaN
1,ACW00011647,17.133301,-61.783298,19.200001,,ST JOHNS,,,NaN
2,AE000041196,25.333000,55.516998,34.000000,,SHARJAH INTER. AIRP,GSN,,41196.0
3,AEM00041194,25.254999,55.363998,10.400000,,DUBAI INTL,,,41194.0
4,AEM00041217,24.433001,54.651001,26.799999,,ABU DHABI INTL,,,41217.0
5,AEM00041218,24.261999,55.609001,264.899994,,AL AIN INTL,,,41218.0
6,AF000040930,35.317001,69.016998,3366.000000,,NORTH-SALANG,GSN,,40930.0
7,AFM00040938,34.209999,62.228001,977.200012,,HERAT,,,40938.0
8,AFM00040948,34.566002,69.211998,1791.300049,,KABUL INTL,,,40948.0
9,AFM00040990,31.500000,65.849998,1010.000000,,KANDAHAR AIRPORT,,,40990.0
10,AG000060390,36.716702,3.250000,24.000000,,ALGER-DAR EL BEIDA,GSN,,60390.0
11,AG000060590,30.566700,2.866700,397.000000,,EL-GOLEA,GSN,,60590.0
12,AG000060611,28.049999,9.633100,561.000000,,IN-AMENAS,GSN,,60611.0
13,AG000060680,22.799999,5.433100,1362.000000,,TAMANRASSET,GSN,,60680.0
14,AGE00135039,35.729698,0.650000,50.000000,,ORAN-HOPITAL MILITAIRE,,,NaN
15,AGE00147704,36.970001,7.790000,161.000000,,ANNABA-CAP DE GARDE,,,NaN
16,AGE00147705,36.779999,3.070000,59.000000,,ALGIERS-VILLE/UNIVERSITE,,,NaN
17,AGE00147706,36.799999,3.030000,344.000000,,ALGIERS-BOUZAREAH,,,NaN
18,AGE00147707,36.799999,3.040000,38.000000,,ALGIERS-CAP CAXINE,,,NaN
19,AGE00147708,36.720001,4.050000,222.000000,,TIZI OUZOU,,,60395.0
20,AGE00147709,36.630001,4.200000,942.000000,,FORT NATIONAL,,,NaN
21,AGE00147710,36.750000,5.100000,9.000000,,BEJAIA-BOUGIE (PORT),,,60401.0
22,AGE00147711,36.369701,6.620000,660.000000,,CONSTANTINE,,,NaN
23,AGE00147712,36.169998,1.340000,112.000000,,ORLEANSVILLE (CHLEF),,,NaN
24,AGE00147713,36.180000,5.400000,1081.000000,,SETIF,,,NaN
25,AGE00147714,35.770000,0.800000,78.000000,,ORAN-CAP FALCON,,,NaN
26,AGE00147715,35.419998,8.119700,863.000000,,TEBESSA,,,NaN
27,AGE00147716,35.099998,-1.850000,83.000000,,NEMOURS (GHAZAOUET),,,60517.0
28,AGE00147717,35.200001,0.630000,476.000000,,SIDI-BEL-ABBES,,,NaN
29,AGE00147718,34.849998,5.720000,125.000000,,BISKRA,,,60525.0
...,...,...,...,...,...,...,...,...,...
70,AGM00060520,35.200001,-0.617000,476.000000,,SIDI-BEL-ABBES,,,60520.0
71,AGM00060522,34.820000,-1.770000,426.000000,,MAGHNIA,,,60522.0
72,AGM00060531,35.016998,-1.450000,248.100006,,ZENATA,,,60531.0
73,AGM00060535,34.682999,3.250000,1144.000000,,DJELFA/TLETSI,,,60535.0
74,AGM00060536,34.867001,0.150000,752.000000,,SAIDA,,,60536.0
75,AGM00060540,34.150002,0.067000,1001.000000,,EL-KHEITER,,,60540.0
76,AGM00060549,33.535999,-0.242000,1175.000000,,MECHERIA,,,60549.0
77,AGM00060550,33.667000,1.000000,1347.000000,,EL-BAYADH,,,60550.0
78,AGM00060555,33.068001,6.089000,85.000000,,SIDI MAHDI,,,60555.0
79,AGM00060557,33.266998,-0.300000,1166.000000,,NAAMA,,,60557.0
80,AGM00060559,33.511002,6.777000,61.900002,,GUEMAR,,,60559.0
81,AGM00060560,32.766998,-0.600000,1059.000000,,AIN-SEFRA,,,60560.0
82,AGM00060563,32.932999,3.283000,764.000000,,HASSIR'MEL,,,60563.0
83,AGM00060566,32.383999,3.794000,460.899994,,NOUMERAT,,,60566.0
84,AGM00060571,31.646000,-2.270000,811.099976,,BECHAR,,,60571.0
85,AGM00060580,31.917000,5.413000,150.000000,,OUARGLA,,,60580.0
86,AGM00060581,31.673000,6.140000,141.100006,,OUED IRARA,,,60581.0
87,AGM00060602,30.132999,-2.167000,505.000000,,BENI-ABBES,,,60602.0
88,AGM00060603,29.716999,6.700000,252.000000,,RHOURD NOUSS,,,60603.0
89,AGM00060607,29.237000,0.276000,313.000000,,TIMIMOUN,,,60607.0
90,AGM00060620,27.837999,NaN,NaN,  ,                              ,   ,   ,NaN
91,AGM00060690,19.566999,5.767000,401.000000,,IN-GUEZZAM,,,60690.0
92,AJ000037575,41.549999,46.667000,490.000000,,ZAKATALA,,,37575.0
93,AJ000037579,41.700001,46.799999,1746.000000,,ALIBEK,,,37579.0
94,AJ000037605,41.299999,45.599998,440.000000,,BOGDANOVKA,,,37605.0
95,AJ000037636,41.299999,45.500000,404.000000,,DJEYRANCELSKAJ-STEP',,,37636.0
96,AJ000037639,41.132999,45.417000,333.000000,,AGSTAPHA AIRPORT,,,37639.0
97,AJ000037656,41.200001,46.799999,403.000000,,ADJINAURSKAYA_STEP',,,37656.0
98,AJ000037661,41.216999,47.167000,641.000000,,SHAKI,,,37661.0
99,AJ000037668,41.099998,47.500000,583.000000,,VARTASHEN,,,37668.0

In [26]:
# row 91 has different formatting so has not parsed correctly. How to manage?? - ignore

!hadoop fs -cat hdfs:///data/ghcnd/ghcnd-stations.txt | sed -n '89p'
!hadoop fs -cat hdfs:///data/ghcnd/ghcnd-stations.txt | sed -n '90p'
!hadoop fs -cat hdfs:///data/ghcnd/ghcnd-stations.txt | sed -n '91p' # inconsistent formatting
!hadoop fs -cat hdfs:///data/ghcnd/ghcnd-stations.txt | sed -n '92p'

stations.filter(F.col("station_id") == "AGM00060620").show()

AGM00060603  29.7170    6.7000  252.0    RHOURD NOUSS                           60603
AGM00060607  29.2370    0.2760  313.0    TIMIMOUN                               60607
AGM00060620  27.838                                                                                                                                                                                                                                                                                                                                                                                                                                                   0.9500  399.0    BORDJ-BADJ-MOKHTAR                     60686
AGM00060690  19.5670    5.7670  401.0    IN-GUEZZAM                             60690
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+
| station_id|latitude|longitude|elevation|state|                name|gsn_flag|hcn_crn_flag|wmo_id|
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+
|AGM00060620|  27.838|     null|     null|     |                 ...|        |            |  null|
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+

In [17]:
stations.groupBy("state").count().orderBy(F.desc("count")).show() # only for some countries
stations.groupBy("hcn_crn_flag").count().orderBy(F.desc("count")).show() # one row shows inconsistent formatting

+-----+-----+
|state|count|
+-----+-----+
|     |43983|
|   TX| 6154|
|   CO| 4640|
|   CA| 3080|
|   NC| 2612|
|   NE| 2387|
|   NM| 2234|
|   KS| 2217|
|   MN| 2199|
|   FL| 2142|
|   IL| 2127|
|   ON| 1985|
|   OR| 1981|
|   IN| 1924|
|   NY| 1815|
|   BC| 1713|
|   AZ| 1655|
|   TN| 1655|
|   WA| 1646|
|   MO| 1565|
+-----+-----+
only showing top 20 rows

+------------+------+
|hcn_crn_flag| count|
+------------+------+
|            |124530|
|         HCN|  1218|
|         CRN|   234|
|            |     1|
+------------+------+

In [5]:
# load countries
countries = (
    spark.read.text("hdfs:///data/ghcnd/ghcnd-countries.txt")
)
    
countries = countries.select(
    countries.value.substr(1, 2).alias("country_code"),   # country_code
    countries.value.substr(4, 61).alias("country_name"),  # country_name 
)

show_as_html(countries, 10)

  country_code                     country_name
0           AC             Antigua and Barbuda
1           AE            United Arab Emirates
2           AF                      Afghanistan
3           AG                         Algeria
4           AJ                      Azerbaijan
5           AL                          Albania
6           AM                         Armenia
7           AO                          Angola
8           AQ  American Samoa [United States]
9           AR                       Argentina

In [6]:
# load states
states = (
    spark.read.text("hdfs:///data/ghcnd/ghcnd-states.txt")
)
    
states = states.select(
    states.value.substr(1, 2).alias("state_code"),   # state_code
    states.value.substr(4, 47).alias("state_name"),  # state_name 
)

show_as_html(states, 10)

  state_code                                       state_name
0         AB                                          ALBERTA
1         AK                                           ALASKA
2         AL  ALABAMA
3         AR                                         ARKANSAS
4         AS                                   AMERICAN SAMOA
5         AZ                                          ARIZONA
6         BC                                 BRITISH COLUMBIA
7         CA                                       CALIFORNIA
8         CO                                         COLORADO
9         CT                                      CONNECTICUT

In [20]:
states.groupBy("state_name").count().orderBy(F.desc("count")).show(100)

# Alamaba looks weird so checking specific row
row = states.filter(F.col("state_name").contains("ALABAMA"))
show_as_html(row)

+--------------------+-----+
|          state_name|count|
+--------------------+-----+
|            ARKANSAS|    1|
|             FLORIDA|    1|
|            ILLINOIS|    1|
|            KENTUCKY|    1|
|           MINNESOTA|    1|
|         MISSISSIPPI|    1|
|       NEW BRUNSWICK|    1|
|       NEW HAMPSHIRE|    1|
|            OKLAHOMA|    1|
|PRINCE EDWARD ISLAND|    1|
|               PALAU|    1|
|              QUEBEC|    1|
|      SOUTH CAROLINA|    1|
|           TENNESSEE|    1|
|                UTAH|    1|
|         CONNECTICUT|    1|
|          MICRONESIA|    1|
|        SOUTH DAKOTA|    1|
|        SASKATCHEWAN|    1|
|               TEXAS|    1|
|              ALASKA|    1|
|ALABAMA          ...|    1|
|    BRITISH COLUMBIA|    1|
|          CALIFORNIA|    1|
|DISTRICT OF COLUMBIA|    1|
|           LOUISIANA|    1|
|            MARYLAND|    1|
|NORTHERN MARIANA ...|    1|
|              OREGON|    1|
|     PACIFIC ISLANDS|    1|
|            VIRGINIA|    1|
|      VIRGIN ISLANDS|    1|
|     YUKON TERRITORY|    1|
|            COLORADO|    1|
|              HAWAII|    1|
|                IOWA|    1|
|             INDIANA|    1|
|        NORTH DAKOTA|    1|
|            NEBRASKA|    1|
|         NOVA SCOTIA|    1|
|         PUERTO RICO|    1|
|U.S. MINOR OUTLYI...|    1|
|          WASHINGTON|    1|
|      AMERICAN SAMOA|    1|
|            MICHIGAN|    1|
|      NORTH CAROLINA|    1|
|NEWFOUNDLAND AND ...|    1|
|             ONTARIO|    1|
|             VERMONT|    1|
|              KANSAS|    1|
|    MARSHALL ISLANDS|    1|
|          NEW JERSEY|    1|
|NORTHWEST TERRITO...|    1|
|                OHIO|    1|
|           WISCONSIN|    1|
|             ALBERTA|    1|
|             ARIZONA|    1|
|          NEW MEXICO|    1|
|              NEVADA|    1|
|        RHODE ISLAND|    1|
|       WEST VIRGINIA|    1|
|             WYOMING|    1|
|            DELAWARE|    1|
|             GEORGIA|    1|
|                GUAM|    1|
|               IDAHO|    1|
|       MASSACHUSETTS|    1|
|            MANITOBA|    1|
|               MAINE|    1|
|            MISSOURI|    1|
|             MONTANA|    1|
|             NUNAVUT|    1|
|            NEW YORK|    1|
|        PENNSYLVANIA|    1|
+--------------------+-----+

  state_code                                       state_name
0         AL  ALABAMA

In [8]:
# load inventory
inventory = (
    spark.read.text("hdfs:///data/ghcnd/ghcnd-inventory.txt")
)
    
inventory = inventory.select(
    inventory.value.substr(1, 11).alias("station_id"),   # station id
    inventory.value.substr(13, 8).alias("latitude"),     # latitude
    inventory.value.substr(22, 9).alias("longitude"),    # longitude
    inventory.value.substr(32, 4).alias("element"),      # element
    inventory.value.substr(37, 4).alias("first_year"),   # first_year
    inventory.value.substr(42, 4).alias("last_year")     # last_year     
)

inventory = inventory.select(
    F.col("station_id").cast("string"),
    F.col("latitude").cast("float"),
    F.col("longitude").cast("float"),
    F.col("element").cast("string"),
    F.col("first_year").cast("integer"),
    F.col("last_year").cast("integer")
)

In [22]:
show_as_html(inventory, 10)

    station_id   latitude  longitude element  first_year  last_year
0  ACW00011604  17.116699 -61.783298    TMAX        1949       1949
1  ACW00011604  17.116699 -61.783298    TMIN        1949       1949
2  ACW00011604  17.116699 -61.783298    PRCP        1949       1949
3  ACW00011604  17.116699 -61.783298    SNOW        1949       1949
4  ACW00011604  17.116699 -61.783298    SNWD        1949       1949
5  ACW00011604  17.116699 -61.783298    PGTM        1949       1949
6  ACW00011604  17.116699 -61.783298    WDFG        1949       1949
7  ACW00011604  17.116699 -61.783298    WSFG        1949       1949
8  ACW00011604  17.116699 -61.783298    WT03        1949       1949
9  ACW00011604  17.116699 -61.783298    WT08        1949       1949

In [23]:
print(inventory.groupBy("element").count().count()) # number of rows per elements

inventory.groupBy("element").count().orderBy(F.desc("count")).show(145) # one inconsistent row

145
+-------+------+
|element| count|
+-------+------+
|   PRCP|123966|
|   SNOW| 77269|
|   MDPR| 68999|
|   SNWD| 64974|
|   DAPR| 61735|
|   TMAX| 40392|
|   TMIN| 40288|
|   WESD| 25032|
|   WESF| 24243|
|   WT01| 17073|
|   WT03| 16512|
|   TOBS| 15711|
|   WT05| 14639|
|   WT04| 14603|
|   WT11| 13373|
|   DWPR| 12403|
|   WT06| 11871|
|   MDSF| 10745|
|   TAVG|  9456|
|   WT14|  8447|
|   WT08|  8307|
|   WT16|  7741|
|   WT18|  6356|
|   DASF|  6070|
|   WT09|  5639|
|   WT07|  4449|
|   WSFG|  1748|
|   WDFG|  1596|
|   PGTM|  1497|
|   AWND|  1388|
|   WT10|  1382|
|   WT02|  1255|
|   WDF2|  1193|
|   WSF2|  1190|
|   WSF5|  1181|
|   WDF5|  1181|
|   WDMV|  1073|
|   EVAP|   999|
|   FMTM|   956|
|   TSUN|   927|
|   MDEV|   804|
|   DAEV|   804|
|   MDTN|   787|
|   DATN|   787|
|   MDWM|   768|
|   DAWM|   767|
|   MDTX|   765|
|   DATX|   765|
|   MXPN|   683|
|   MNPN|   678|
|   WT13|   534|
|   RHMX|   476|
|   RHMN|   476|
|   RHAV|   475|
|   AWBT|   474|
|   ASLP|   474|
|   ASTP|   474|
|   ADPT|   474|
|   WT17|   453|
|   ACSH|   447|
|   WT19|   442|
|   WT22|   442|
|   ACMH|   405|
|   WT15|   375|
|   PSUN|   375|
|   WV03|   361|
|   WT21|   358|
|   WSF1|   342|
|   WDF1|   332|
|   SX32|   293|
|   SN32|   291|
|   THIC|   254|
|   WSFM|   224|
|   WDFM|   222|
|   SN02|   205|
|   SX02|   203|
|   WV20|   198|
|   FRGT|   179|
|   SX52|   162|
|   SN52|   160|
|   WV01|   144|
|   GAHT|   116|
|   WSFI|    94|
|   AWDR|    76|
|   FRTH|    62|
|   WT12|    58|
|   FRGB|    55|
|   SX03|    49|
|   SN03|    48|
|   SN12|    41|
|   SX12|    41|
|   SN31|    37|
|   SX31|    37|
|   SX33|    37|
|   SN01|    36|
|   SN33|    36|
|   SX01|    35|
|   SX53|    31|
|   WV07|    31|
|   SN53|    31|
|   SN51|    29|
|   SX51|    28|
|   SX55|    13|
|   WV18|    12|
|   WDFI|    12|
|   ACSC|    11|
|   SN55|    11|
|   ACMC|    10|
|   SX35|     9|
|   SN13|     8|
|   SX13|     8|
|   SN35|     8|
|   SX11|     6|
|   SN11|     6|
|   SX36|     6|
|   SN56|     5|
|   SN54|     5|
|   SX54|     5|
|   SX56|     5|
|   SX22|     5|
|   SN36|     4|
|   SN34|     3|
|   SX61|     3|
|   SN61|     3|
|   SX34|     3|
|   SN22|     2|
|   SX21|     2|
|   SX72|     1|
|   SX81|     1|
|   SN23|     1|
|   SN81|     1|
|   SN57|     1|
|   SX82|     1|
|   SX14|     1|
|   SN14|     1|
|   SN72|     1|
|   SX15|     1|
|   SX83|     1|
|       |     1|
|   SN83|     1|
|   SX23|     1|
|   SX17|     1|
|   SN82|     1|
|   SN21|     1|
|   SX57|     1|
+-------+------+

In [27]:
# filter row where 'element' is equal to '36.5000' -> this has changed to '|'' since first run. Amended code to base on id.
inventory.filter(F.col("station_id") == 'AGM00060402').show()

# looks like another formatting error in the original data?? -> missing data when looking at the txt file later

+-----------+--------+---------+-------+----------+---------+
| station_id|latitude|longitude|element|first_year|last_year|
+-----------+--------+---------+-------+----------+---------+
|AGM00060402|  36.712|     5.07|   TMAX|      1973|     2024|
|AGM00060402|  36.712|     5.07|   TMIN|      1973|     2024|
|AGM00060402|  36.712|     5.07|   PRCP|      1979|     2024|
|AGM00060402|  36.712|     5.07|   SNWD|      2005|     2005|
|AGM00060402|  36.712|     5.07|       |      null|     null|
+-----------+--------+---------+-------+----------+---------+

In [9]:
# number of rows in each metatable
print(stations.count())
print(countries.count())
print(states.count())
print(inventory.count())

125983
219
74
747382

In [23]:
# count null values in stations table, column "wmo_id"
stations.filter(F.col("wmo_id").isNull()).count()

118024

## Question 3

In [10]:
# (a)

# extract country_code from station_id (first two letters) and add as new variable
stations = stations.withColumn('country_code', F.col('station_id').substr(1, 2))

stations.show(10)

+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+------------+
| station_id|latitude|longitude|elevation|state|                name|gsn_flag|hcn_crn_flag|wmo_id|country_code|
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+------------+
|ACW00011604| 17.1167| -61.7833|     10.1|     |ST JOHNS COOLIDGE...|        |            |  null|          AC|
|ACW00011647| 17.1333| -61.7833|     19.2|     |ST JOHNS         ...|        |            |  null|          AC|
|AE000041196|  25.333|   55.517|     34.0|     |SHARJAH INTER. AI...|     GSN|            | 41196|          AE|
|AEM00041194|  25.255|   55.364|     10.4|     |DUBAI INTL       ...|        |            | 41194|          AE|
|AEM00041217|  24.433|   54.651|     26.8|     |ABU DHABI INTL   ...|        |            | 41217|          AE|
|AEM00041218|  24.262|   55.609|    264.9|     |AL AIN INTL      ...|        |            | 41218|          AE|
|AF000040930|  35.317|   69.017|   3366.0|     |NORTH-SALANG     ...|     GSN|            | 40930|          AF|
|AFM00040938|   34.21|   62.228|    977.2|     |HERAT            ...|        |            | 40938|          AF|
|AFM00040948|  34.566|   69.212|   1791.3|     |KABUL INTL       ...|        |            | 40948|          AF|
|AFM00040990|    31.5|    65.85|   1010.0|     |KANDAHAR AIRPORT ...|        |            | 40990|          AF|
+-----------+--------+---------+---------+-----+--------------------+--------+------------+------+------------+
only showing top 10 rows

In [11]:
# (b)

# join countries to stations using country_code var created above
stations = (
    stations
    .join(
        countries,
        on="country_code",
        how="left"
    )
)
show_as_html(stations)

,country_code,station_id,latitude,longitude,elevation,state,name,gsn_flag,hcn_crn_flag,wmo_id,country_name
0,AC,ACW00011604,17.116699,-61.783298,10.100000,,ST JOHNS COOLIDGE FLD,,,NaN,Antigua and Barbuda
1,AC,ACW00011647,17.133301,-61.783298,19.200001,,ST JOHNS,,,NaN,Antigua and Barbuda
2,AE,AE000041196,25.333000,55.516998,34.000000,,SHARJAH INTER. AIRP,GSN,,41196.0,United Arab Emirates
3,AE,AEM00041194,25.254999,55.363998,10.400000,,DUBAI INTL,,,41194.0,United Arab Emirates
4,AE,AEM00041217,24.433001,54.651001,26.799999,,ABU DHABI INTL,,,41217.0,United Arab Emirates
5,AE,AEM00041218,24.261999,55.609001,264.899994,,AL AIN INTL,,,41218.0,United Arab Emirates
6,AF,AF000040930,35.317001,69.016998,3366.000000,,NORTH-SALANG,GSN,,40930.0,Afghanistan
7,AF,AFM00040938,34.209999,62.228001,977.200012,,HERAT,,,40938.0,Afghanistan
8,AF,AFM00040948,34.566002,69.211998,1791.300049,,KABUL INTL,,,40948.0,Afghanistan
9,AF,AFM00040990,31.500000,65.849998,1010.000000,,KANDAHAR AIRPORT,,,40990.0,Afghanistan
10,AG,AG000060390,36.716702,3.250000,24.000000,,ALGER-DAR EL BEIDA,GSN,,60390.0,Algeria
11,AG,AG000060590,30.566700,2.866700,397.000000,,EL-GOLEA,GSN,,60590.0,Algeria
12,AG,AG000060611,28.049999,9.633100,561.000000,,IN-AMENAS,GSN,,60611.0,Algeria
13,AG,AG000060680,22.799999,5.433100,1362.000000,,TAMANRASSET,GSN,,60680.0,Algeria
14,AG,AGE00135039,35.729698,0.650000,50.000000,,ORAN-HOPITAL MILITAIRE,,,NaN,Algeria
15,AG,AGE00147704,36.970001,7.790000,161.000000,,ANNABA-CAP DE GARDE,,,NaN,Algeria
16,AG,AGE00147705,36.779999,3.070000,59.000000,,ALGIERS-VILLE/UNIVERSITE,,,NaN,Algeria
17,AG,AGE00147706,36.799999,3.030000,344.000000,,ALGIERS-BOUZAREAH,,,NaN,Algeria
18,AG,AGE00147707,36.799999,3.040000,38.000000,,ALGIERS-CAP CAXINE,,,NaN,Algeria
19,AG,AGE00147708,36.720001,4.050000,222.000000,,TIZI OUZOU,,,60395.0,Algeria

In [13]:
# (c)

# rename 'state' as 'state_code' so can join with states df on 'state_code'
stations = stations.withColumnRenamed("state", "state_code")

# join states to stations on state_code 
stations = (
    stations
    .join(
        states,
        on="state_code",
        how="left"
    )
)
show_as_html(stations)

,state_code,country_code,station_id,latitude,longitude,elevation,name,gsn_flag,hcn_crn_flag,wmo_id,country_name,state_name
0,,AC,ACW00011604,17.116699,-61.783298,10.100000,ST JOHNS COOLIDGE FLD,,,NaN,Antigua and Barbuda,None
1,,AC,ACW00011647,17.133301,-61.783298,19.200001,ST JOHNS,,,NaN,Antigua and Barbuda,None
2,,AE,AE000041196,25.333000,55.516998,34.000000,SHARJAH INTER. AIRP,GSN,,41196.0,United Arab Emirates,None
3,,AE,AEM00041194,25.254999,55.363998,10.400000,DUBAI INTL,,,41194.0,United Arab Emirates,None
4,,AE,AEM00041217,24.433001,54.651001,26.799999,ABU DHABI INTL,,,41217.0,United Arab Emirates,None
5,,AE,AEM00041218,24.261999,55.609001,264.899994,AL AIN INTL,,,41218.0,United Arab Emirates,None
6,,AF,AF000040930,35.317001,69.016998,3366.000000,NORTH-SALANG,GSN,,40930.0,Afghanistan,None
7,,AF,AFM00040938,34.209999,62.228001,977.200012,HERAT,,,40938.0,Afghanistan,None
8,,AF,AFM00040948,34.566002,69.211998,1791.300049,KABUL INTL,,,40948.0,Afghanistan,None
9,,AF,AFM00040990,31.500000,65.849998,1010.000000,KANDAHAR AIRPORT,,,40990.0,Afghanistan,None
10,,AG,AG000060390,36.716702,3.250000,24.000000,ALGER-DAR EL BEIDA,GSN,,60390.0,Algeria,None
11,,AG,AG000060590,30.566700,2.866700,397.000000,EL-GOLEA,GSN,,60590.0,Algeria,None
12,,AG,AG000060611,28.049999,9.633100,561.000000,IN-AMENAS,GSN,,60611.0,Algeria,None
13,,AG,AG000060680,22.799999,5.433100,1362.000000,TAMANRASSET,GSN,,60680.0,Algeria,None
14,,AG,AGE00135039,35.729698,0.650000,50.000000,ORAN-HOPITAL MILITAIRE,,,NaN,Algeria,None
15,,AG,AGE00147704,36.970001,7.790000,161.000000,ANNABA-CAP DE GARDE,,,NaN,Algeria,None
16,,AG,AGE00147705,36.779999,3.070000,59.000000,ALGIERS-VILLE/UNIVERSITE,,,NaN,Algeria,None
17,,AG,AGE00147706,36.799999,3.030000,344.000000,ALGIERS-BOUZAREAH,,,NaN,Algeria,None
18,,AG,AGE00147707,36.799999,3.040000,38.000000,ALGIERS-CAP CAXINE,,,NaN,Algeria,None
19,,AG,AGE00147708,36.720001,4.050000,222.000000,TIZI OUZOU,,,60395.0,Algeria,None

In [15]:
#(d)

# first and last years active for each station
inventory_years = (inventory.groupBy("station_id")
                   .agg(F.min("first_year").alias("first_year_active"),
                        F.max("last_year").alias("last_year_active"))
                   .orderBy(F.asc("first_year_active"))
                  )

#inventory.groupBy("element").count().orderBy(F.desc("count")).show(150)

In [28]:
# Show the first 10 rows of the result
show_as_html(inventory_years, 10)

# count the number of rows
print(inventory_years.count())

# there were 125,983 stations in the stations table. Therefore, 8 must not be represented in the inventory table.

    station_id  first_year_active  last_year_active
0  ASN00002009               1750              2023
1  ASN00007101               1750              2023
2  ASN00002044               1750              2023
3  ASN00001006               1750              2023
4  ASN00002048               1750              2023
5  ASN00004019               1750              2023
6  ASN00007081               1750              2023
7  ASN00006011               1750              2024
8  ASN00001020               1750              2023
9  ASN00006102               1750              2023

125975

In [29]:
# find the stations first active in 2023
active_2023 = inventory_years.filter(F.col("first_year_active") == '2023')

print(active_2023.count())

1035

In [30]:
# of the stations first active in 2023, how many only reocrded in 2023 vs how many have records for 2024?
(
    active_2023.groupBy("last_year_active")
    .count()
    .orderBy(F.desc("count"))
    .show()
)

+----------------+-----+
|last_year_active|count|
+----------------+-----+
|            2024|  878|
|            2023|  157|
+----------------+-----+

In [31]:
# how many stations collected data in 1750 when records first began
active_1750 = inventory_years.filter(F.col("first_year_active") == '1750')
print(active_1750.count())

2423

In [32]:
# of the stations collective data in 1750, when did they stop recording and how many are stilla ctive in 2024?
(
    active_1750.groupBy("last_year_active")
    .count()
    .orderBy(F.desc("count"))
    .show()
)

+----------------+-----+
|last_year_active|count|
+----------------+-----+
|            2023| 2352|
|            2024|   64|
|            2022|    3|
|            2021|    2|
|            2020|    1|
|            2013|    1|
+----------------+-----+

In [33]:
# find the number of unique elements collected for each station
number_unique_elements = (
    inventory.groupBy("station_id")
    .agg(F.countDistinct("element").alias("no_unique_elements"))
    .orderBy(F.asc("no_unique_elements"))
)

number_unique_elements.show()

print(number_unique_elements.count())

+-----------+------------------+
| station_id|no_unique_elements|
+-----------+------------------+
|AJ000037883|                 1|
|ASN00033292|                 1|
|ASN00009718|                 1|
|USC00413654|                 1|
|ASN00009719|                 1|
|USC00417528|                 1|
|ASN00009770|                 1|
|UY000001572|                 1|
|ASN00009781|                 1|
|VE000001869|                 1|
|ASN00009834|                 1|
|VE000009060|                 1|
|ASN00010184|                 1|
|WA004912120|                 1|
|ASN00010742|                 1|
|WA007444590|                 1|
|ASN00010748|                 1|
|ASN00023107|                 1|
|ASN00033126|                 1|
|ASN00023304|                 1|
+-----------+------------------+
only showing top 20 rows

125975

In [34]:
# find the stations with only one unique element recorded
elementCount1 = number_unique_elements.filter(F.col("no_unique_elements") == '1')
print(elementCount1.count())

16382

In [35]:
# create set of the unique elements collected per station
list_unique_elements = inventory.groupBy("station_id").agg(F.collect_set(F.col("element")).alias("unique_elements"))

show_as_html(list_unique_elements, 10)

    station_id                 unique_elements
0  AEM00041217        [TMAX, TMIN, PRCP, TAVG]
1  AGE00147708  [TMAX, TMIN, PRCP, SNWD, TAVG]
2  AGE00147710        [TMAX, TMIN, PRCP, TAVG]
3  AGE00147714              [TMAX, TMIN, PRCP]
4  AGE00147719        [TMAX, TMIN, PRCP, TAVG]
5  AGM00060360        [TMAX, TMIN, PRCP, TAVG]
6  AGM00060445  [TMAX, TMIN, PRCP, SNWD, TAVG]
7  AGM00060452        [TMAX, TMIN, PRCP, TAVG]
8  AGM00060511  [TMAX, TMIN, PRCP, SNWD, TAVG]
9  AGM00060540  [TMAX, TMIN, PRCP, SNWD, TAVG]

In [36]:
# count core elements vs other elements

# create list of the core elements
core_elements = ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']

# determine, per station, if the collected element is in the core elements list. Count the distinct number of elements collected 
# for each station in the core_elements list, versus not. 
core_vs_other = inventory.groupBy("station_id").agg(
    F.countDistinct(F.when(F.col("element").isin(core_elements), F.col("element"))).alias("core_element_count"),
    F.countDistinct(F.when(~F.col("element").isin(core_elements), F.col("element"))).alias("other_element_count")
)

core_vs_other.show()

+-----------+------------------+-------------------+
| station_id|core_element_count|other_element_count|
+-----------+------------------+-------------------+
|USC00030664|                 5|                 10|
|USC00030828|                 5|                 10|
|USC00030842|                 3|                 11|
|USC00031442|                 5|                 15|
|USC00031582|                 3|                 10|
|USC00031829|                 3|                 10|
|USC00031900|                 5|                  7|
|USC00031956|                 2|                  0|
|USC00031962|                 5|                  9|
|USC00031982|                 5|                 15|
|USC00032204|                 3|                 12|
|USC00032315|                 5|                  8|
|USC00032442|                 5|                 14|
|USC00032670|                 3|                 14|
|USC00032978|                 5|                  9|
|USC00033229|                 3|                  8|
|USC00033242|                 5|                 14|
|USC00033466|                 5|                 12|
|USC00033540|                 5|                 14|
|USC00034572|                 5|                 17|
+-----------+------------------+-------------------+
only showing top 20 rows

In [37]:
# filter for stations where 'core_count' is 5
all_core_stations = core_vs_other.filter(F.col("core_element_count") == 5)

all_core_stations.count()

20467

In [38]:
# filter for stations that collected 'PRCP' only
prcp_stations = inventory.filter(F.col('element') == 'PRCP').select("station_id").distinct()

# filter for stations who collected only one core element and did not collect any non-core elements
one_core_only_stations = core_vs_other.filter((F.col("core_element_count") == 1) & (F.col("other_element_count") == 0))

# join the two tables above to determine the stations who collected on PRCP
prcp_only_stations = prcp_stations.join(one_core_only_stations.select(
            F.col("station_id"),
            F.col("core_element_count").alias("PRCP_only")
        ), on="station_id", how="inner")

prcp_only_stations.show()
prcp_only_stations.count()

+-----------+---------+
| station_id|PRCP_only|
+-----------+---------+
|AJ000037679|        1|
|AJ000037831|        1|
|AJ000037912|        1|
|AJ000037981|        1|
|AM000037683|        1|
|AM000037698|        1|
|AQC00914141|        1|
|AR000000002|        1|
|ASN00001003|        1|
|ASN00002004|        1|
|ASN00002033|        1|
|ASN00002034|        1|
|ASN00002055|        1|
|ASN00003046|        1|
|ASN00003047|        1|
|ASN00003064|        1|
|ASN00003065|        1|
|ASN00003081|        1|
|ASN00004087|        1|
|ASN00006014|        1|
+-----------+---------+
only showing top 20 rows

16301

In [39]:
# join the information found above to the stations table to create enhanced table
stations = stations.join(inventory_years, "station_id", "left")

stations = stations.join(number_unique_elements, "station_id", "left")

stations = stations.join(list_unique_elements, "station_id", "left")

stations = stations.join(core_vs_other, "station_id", "left")

stations = stations.join(prcp_only_stations, "station_id", "left")

show_as_html(stations, 10)

,station_id,state_code,country_code,latitude,longitude,elevation,name,gsn_flag,hcn_crn_flag,wmo_id,country_name,state_name,first_year_active,last_year_active,no_unique_elements,unique_elements,core_element_count,other_element_count,PRCP_only
0,AEM00041217,,AE,24.433001,54.651001,26.799999,ABU DHABI INTL,,,41217.0,United Arab Emirates,None,1983,2024,4,"[TMAX, TMIN, PRCP, TAVG]",3,1,NaN
1,AGE00147708,,AG,36.720001,4.050000,222.000000,TIZI OUZOU,,,60395.0,Algeria,None,1879,2024,5,"[TMAX, TMIN, PRCP, SNWD, TAVG]",4,1,NaN
2,AGE00147710,,AG,36.750000,5.100000,9.000000,BEJAIA-BOUGIE (PORT),,,60401.0,Algeria,None,1909,2009,4,"[TMAX, TMIN, PRCP, TAVG]",3,1,NaN
3,AGE00147714,,AG,35.770000,0.800000,78.000000,ORAN-CAP FALCON,,,NaN,Algeria,None,1896,1938,3,"[TMAX, TMIN, PRCP]",3,0,NaN
4,AGE00147719,,AG,33.799702,2.890000,767.000000,LAGHOUAT,,,60545.0,Algeria,None,1888,2024,4,"[TMAX, TMIN, PRCP, TAVG]",3,1,NaN
5,AGM00060360,,AG,36.821999,7.809000,4.900000,ANNABA,,,60360.0,Algeria,None,1945,2024,4,"[TMAX, TMIN, PRCP, TAVG]",3,1,NaN
6,AGM00060445,,AG,36.178001,5.324000,1050.000000,SETIF AIN ARNAT,,,60445.0,Algeria,None,1957,2024,5,"[TMAX, TMIN, PRCP, SNWD, TAVG]",4,1,NaN
7,AGM00060452,,AG,35.817001,-0.267000,4.000000,ARZEW,,,60452.0,Algeria,None,1985,2024,4,"[TMAX, TMIN, PRCP, TAVG]",3,1,NaN
8,AGM00060511,,AG,35.341000,1.463000,989.099976,BOU CHEKIF,,,60511.0,Algeria,None,1983,2024,5,"[TMAX, TMIN, PRCP, SNWD, TAVG]",4,1,NaN
9,AGM00060540,,AG,34.150002,0.067000,1001.000000,EL-KHEITER,,,60540.0,Algeria,None,1981,2022,5,"[TMAX, TMIN, PRCP, SNWD, TAVG]",4,1,NaN

In [40]:
# unable to save column of lists in csv (and had issues with parquet in next notebook so abandoned that), 
# so need to convert list to string with , as the delimiter
stations = stations.withColumn('unique_elements', F.concat_ws(',', F.col('unique_elements')))

In [ ]:
# commented out so I don't rewrite when running notebook later

#save stations to outputs
"""
data_path = f"hdfs:///user/dcp31/assignment_1/stations1" 

(
    stations.write
    .option("compression", "gzip")
    .option("header", "true")
    .mode("overwrite")
    .csv(data_path)
)
"""

In [42]:
# join the daily subset to stations, keeping all daily observations if there is no match to stations
dataframe = daily.join(stations, "station_id", "left")

dataframe.show(10)

+-----------+--------+-------+-----+------+------+------+----+----------+------------+--------+---------+---------+--------------------+--------+------------+------+--------------------+----------+-----------------+----------------+------------------+--------------------+------------------+-------------------+---------+
| station_id|    date|element|value|m_flag|q_flag|s_flag|time|state_code|country_code|latitude|longitude|elevation|                name|gsn_flag|hcn_crn_flag|wmo_id|        country_name|state_name|first_year_active|last_year_active|no_unique_elements|     unique_elements|core_element_count|other_element_count|PRCP_only|
+-----------+--------+-------+-----+------+------+------+----+----------+------------+--------+---------+---------+--------------------+--------+------------+------+--------------------+----------+-----------------+----------------+------------------+--------------------+------------------+-------------------+---------+
|AEM00041217|20230101|   TMAX|  248|  null|  null|     S|null|          |          AE|  24.433|   54.651|     26.8|ABU DHABI INTL   ...|        |            | 41217|United Arab Emira...|      null|             1983|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
|AEM00041217|20230101|   TMIN|  184|  null|  null|     S|null|          |          AE|  24.433|   54.651|     26.8|ABU DHABI INTL   ...|        |            | 41217|United Arab Emira...|      null|             1983|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
|AEM00041217|20230101|   TAVG|  215|     H|  null|     S|null|          |          AE|  24.433|   54.651|     26.8|ABU DHABI INTL   ...|        |            | 41217|United Arab Emira...|      null|             1983|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
|AGE00147708|20230101|   TMIN|   96|  null|  null|     S|null|          |          AG|   36.72|     4.05|    222.0|TIZI OUZOU       ...|        |            | 60395|            Algeria |      null|             1879|            2024|                 5|TMAX,TMIN,PRCP,SN...|                 4|                  1|     null|
|AGE00147708|20230101|   PRCP|    0|  null|  null|     S|null|          |          AG|   36.72|     4.05|    222.0|TIZI OUZOU       ...|        |            | 60395|            Algeria |      null|             1879|            2024|                 5|TMAX,TMIN,PRCP,SN...|                 4|                  1|     null|
|AGE00147708|20230101|   TAVG|  155|     H|  null|     S|null|          |          AG|   36.72|     4.05|    222.0|TIZI OUZOU       ...|        |            | 60395|            Algeria |      null|             1879|            2024|                 5|TMAX,TMIN,PRCP,SN...|                 4|                  1|     null|
|AGE00147719|20230101|   TMIN|    1|  null|  null|     S|null|          |          AG| 33.7997|     2.89|    767.0|LAGHOUAT         ...|        |            | 60545|            Algeria |      null|             1888|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
|AGE00147719|20230101|   PRCP|    0|  null|  null|     S|null|          |          AG| 33.7997|     2.89|    767.0|LAGHOUAT         ...|        |            | 60545|            Algeria |      null|             1888|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
|AGE00147719|20230101|   TAVG|   74|     H|  null|     S|null|          |          AG| 33.7997|     2.89|    767.0|LAGHOUAT         ...|        |            | 60545|            Algeria |      null|             1888|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
|AGM00060360|20230101|   TMIN|   75|  null|  null|     S|null|          |          AG|  36.822|    7.809|      4.9|ANNABA           ...|        |            | 60360|            Algeria |      null|             1945|            2024|                 4| TMAX,TMIN,PRCP,TAVG|                 3|                  1|     null|
+-----------+--------+-------+-----+------+------+------+----+----------+------------+--------+---------+---------+--------------------+--------+------------+------+--------------------+----------+-----------------+----------------+------------------+--------------------+------------------+-------------------+---------+
only showing top 10 rows

In [43]:
# determine if there are any stations in daily not present in stations

# find the distinct stations in daily
distinct_stations_daily = daily.select("station_id").distinct()

# join the distinct daily stations to stations using a left anti join to keep the rows of daily that do not match rows in 
# stations (i.e. no matching stations_id)
missing_stations = distinct_stations_daily.join(stations.select(F.col("station_id")), "station_id", "leftanti")

missing_stations.show()
print(missing_stations.count())

+-----------+
| station_id|
+-----------+
|AGM00060640|
|AGM00060670|
|AGM00060656|
+-----------+

3

In [ ]:
# save to outputs 

'''
data_path1 = f"hdfs:///user/dcp31/assignment_1/countries1"
data_path2 = f"hdfs:///user/dcp31/assignment_1/states1"
data_path3 = f"hdfs:///user/dcp31/assignment_1/inventory1"
data_path4 = f"hdfs:///user/dcp31/assignment_1/daily1"

(
    countries.write
    .option("compression", "gzip")
    .option("header", "true")
    .mode("overwrite") 
    .csv(data_path1)
)

(
    states.write
    .option("compression", "gzip")
    .option("header", "true")
    .mode("overwrite")
    .csv(data_path2)
)

(
    inventory.write
    .option("compression", "gzip")
    .option("header", "true")
    .mode("overwrite")
    .csv(data_path3)
)

(
    daily.write
    .option("compression", "gzip")
    .option("header", "true")
    .mode("overwrite")
    .csv(data_path4)
)

'''

In [16]:
# Run this cell before closing the notebook or kill your spark application by hand using the link in the Spark UI

stop_spark()